/*
 * SPDX-FileCopyrightText: 2020 (C) Bjorn Erik Pedersen <bjorn.erik.pedersen@gmail.com>
 * SPDX-FileCopyrightText: 2020 (C) LisaFC
 * SPDX-FileCopyrightText: 2020 (C) Richie Escarez <rescarez@google.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

// Code formatting.

.td-content {
  // Highlighted code.
  .tab-panel .highlight {
    margin: 0 0;
  }

  .highlight {
    @extend .card;
    
    margin: 2rem 0;

    pre, div {
      background-color: inherit !important;
    }

    pre {
      margin: 0;
      padding: 0;
      padding-left: 0.5rem;
    }
  }

  // Inline code
  p code, li > code, table code {
    color: inherit;
    margin: 0;
    font-size: 85%;
    word-break: normal;
    border-radius: $border-radius;

    br {
      display: none;
    }
  }


  // Code blocks
  pre {
    word-wrap: normal;
    padding: $spacer;
 

    > code {
      padding: 0;
      margin: 0;
      font-size: 100%;
      word-break: normal;
      white-space: pre;
      border: 0;
    }
  }
}

.code-content .highlight {
  margin: 2rem 0;
}

.td-content > .row > .col-md-6 > .highlight:first-child {
    margin-top: 0;
}

